
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: o;
    width: 100%;
    padding: 25px 2.5%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
    border-radius: 5px;
    transform: translateY(10px);
    transition: 0.5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}